html {
  font-size: 100%;
  scrollbar-gutter: stable;
}

body {
  font-family: RobotoLt, var(--secure-sources);
  background-image: url('../../assets/images/background-site.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  background-size: cover;
  font-size: var(--fs-sm);

  &.modal-open {
    overflow: hidden;
  }
}
