.loader {
  width: 24px;
  padding: 4px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--color-tertiary);

  --m:
    conic-gradient(#00000000 10%, #000000),
    linear-gradient(#000000 0 0) content-box;

  mask: var(--m);
  mask-composite: subtract;
  animation: l3 1s infinite linear;
  margin: 0 auto;
}

@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}
