@import url('reset.css');

:root {
    --color-primary: #0f1b1bea;
    --color-secondary: #1ED860;
    --color-text: #6e848d;
    --color-input: #1B272C;
    --color-white: #ffffff;
}

body {
    font-family: sans-serif;
    background: url('../img/background2.jpg') no-repeat bottom;
    /* background: url('../img/background.jpg') no-repeat top; */
    background-size: cover;
    background-attachment: fixed;
}

.content {
    margin: 40px;
    display: flex;
    justify-content: center;
    border-radius: 25px;

    .content_left {
        background: var(--color-primary);
        width: 540px;
        border-radius: 20px;
    }

    .content_right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 40px 70px;
        width: 700px;
        color: var(--color-white);
    }
}

.avatar {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;

    img {
        border-radius: 50%;
        margin: 0 auto;
        border: 3px solid #1ed85f3d;
        padding: 10px;
    }
}

form {
    padding: 0 40px;

    fieldset {
        border: none;
        display: flex;
        flex-direction: column;

        label {
            color: var(--color-text);
            position: relative;

            input {
                border-radius: 18px;
                border: 2px solid transparent;
                outline: none;
                padding: 15px;
                margin-top: 10px;
                margin-bottom: 20px;
                background-color: var(--color-input);
                color: var(--color-text);
                width: 100%;
            }

            input::placeholder {
                opacity: .4;
            }

            input:focus {
                border: 2px solid var(--color-secondary);
            }

            .input-error {
                border: 2px solid red !important;
            }

            small {
                color: red;
                position: absolute;
                display: block;
                bottom: -6px;
                right: 0;
            }
        }


        .checbox {
            margin-top: 10px;
            margin-bottom: 20px;

            input[type=checkbox] {
                accent-color: var(--color-secondary);
                cursor: pointer;
            }

            span {
                color: var(--color-text);
                margin-left: 5px;
                font-size: 13px;

                a {
                    color: var(--color-secondary);
                    text-decoration: none;
                }
            }
        }

        button {
            border: none;
            border-radius: 18px;
            padding: 15px;
            margin-top: 15px;
            background: var(--color-secondary);
            color: var(--color-input);
            cursor: pointer;
            font-weight: bold;
        }
    }

    .login {
        text-align: center;
        color: var(--color-text);
        margin-bottom: 30px;
        margin-top: 10px;
        font-size: 13px;

        a {
            color: var(--color-secondary);
            text-decoration: none;
        }
    }
}

.content_right-message {
    h2 {
        margin-bottom: 35px;
        font-size: 40px;
    }

    .social {
        display: flex;
        justify-content: center;
        margin-top: 40px;

        img {
            width: 25px;
            margin: 10px;
        }
    }
}

.container_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    box-sizing: content-box;
    border: none;
    margin: 0;
}

.modal_content {
    background: #fff;
    border: none;
    border-radius: 25px;
    width: 45%;
    height: 400px;
    display: flex;
    padding: 0;

    .content_left {
        width: 45%;
        background: url('../img/modal.jpg') no-repeat center;
        background-size: cover;
        border-radius: 25px 0 0 25px;
    }

    .content_right {
        padding: 25px;
        width: 55%;

        .modalActions {
            width: 100%;
            display: flex;
            justify-content: end;

            .closeModal {
                cursor: pointer;
            }
        }
    }
}