@import url('reset.css');

:root {
    --color-primary: #0F1B1B;
    --color-secondary: #1ED860;
}

body {
    font-family: sans-serif;
    background-color: #182727;
}

.content {
    width: 70%;
    margin: 0 auto;
    display: flex;
    background: var(--color-primary);
    border-radius: 25px;

    .content_left {
        border-radius: 25px 0 0 25px;
        width: 50%;
    }

    .content_right {
        border-radius: 20px;
        width: 50%;
        background: url('../img/img4.jpg') no-repeat center;
        background-size: cover;
        margin: 10px;
    }
}

form {
    width: 80%;
    margin: 0 auto;

    h1 {
        text-align: center;
        color: rgb(255, 255, 255);
    }

    fieldset {
        border: none;
        display: flex;
        flex-direction: column;

        label {
            color: #6e848d;
        }

        input {
            border-radius: 18px;
            border: none;
            padding: 15px;
            margin-top: 10px;
            margin-bottom: 20px;
            background-color: #1B272C;
            color: #8f8f8f;
        }

        button {
            border: none;
            border-radius: 18px;
            padding: 15px;
            margin-top: 15px;
            background: var(--color-secondary);
            color: #000;
            cursor: pointer;
        }
    }
}

.avatar {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;

    img {
        border-radius: 50%;
        margin: 0 auto;
        border: 3px solid #1ed85f3d;
        padding: 10px;
    }
}

.checbox {
    input[type=checkbox] {
        accent-color: var(--color-secondary);
        cursor: pointer;
    }

    span {
        color: #8f8f8f;
        font-size: 13px;

        a {
            color: var(--color-secondary);
            text-decoration: none;
        }
    }
}

.login {
    text-align: center;
    color: #6e848d;
    margin-bottom: 30px;
    margin-top: 10px;
    font-size: 13px;

    a {
        color: var(--color-secondary);
        text-decoration: none;
    }
}