@font-face {
  font-family: RobotoLt;
  src:
    url("../assets/fonts/Roboto-Light.woff2") format("woff2"),
    url("../assets/fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: RobotoNormal;
  src:
    url("../assets/fonts/Roboto-Regular.woff2") format("woff2"),
    url("../assets/fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* ############################## */

@font-face {
  font-family: CreatoDisplayBl;
  src:
    url("../assets/fonts/CreatoDisplay-Black.woff2") format("woff2"),
    url("../assets/fonts/CreatoDisplay-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
