@import url("css/reset.css");
@import url("css/fonts.css");

:root {
  --color-primary: #0f1b1bea;
  --color-secondary: #1ed860;
  --color-ternary: #338650;
  --color-text: #6e848d;
  --color-input: #1b272c;
  --color-white: #fff;
  --color-grey: #838383;
  --color-error: #f00;
  --secure-sources: sans-serif, serif, system-ui, monospace, cursive, -apple-system, "Segoe UI", arial;
  --fs-xs: 0.875rem;  /* 14px */
  --fs-sm: 1rem;      /* 16px */
  --fs-md: 1.125rem;  /* 18px */
  --fs-lg: 1.5rem;    /* 24px */
  --fs-xl: 2rem;      /* 32px */
  --fs-xxl: 3rem;     /* 48px */
  --fs-hero: 4rem;    /* 64px */
}

html {
  font-size: 100%;
}

body {
  font-family: RobotoLt, var(--secure-sources);
  background: url("assets/img/background-site.jpg") no-repeat bottom fixed;
  background-size: cover;
  font-size: var(--fs-sm);
}

:is(h1, h2) {
  font-family: CreatoDisplayBl, var(--secure-sources);
}

h1 {
  font-size: var(--fs-hero);
}

h2 {
  font-size: var(--fs-xl);
}

.register-page {
  margin: 0 auto;
  padding: 40px 0;
  justify-content: center;
  display: grid;
  grid-template-columns: 540px 700px;
  gap: 30px;

  @media (width <= 1280px) {
    grid-template-columns: 40% 50%;
  }

  @media (width <= 1024px) {
    grid-template-columns: 1fr;
    width: 60%;
  }

  @media (width <= 768px) {
    width: 85%;
  }

  .register-page__form {
    background: var(--color-primary);
    border-radius: 20px;

    @media (width <= 1024px) {
      order: 2;

      h1 {
        font-size: var(--fs-xl);
        color: #fff;
        text-align: center;
        margin: 20px;
      }
    }
  }

  .register-page__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
    color: var(--color-white);

    @media (width <= 1024px) {
      order: 1;
      justify-content: initial;
      align-items: center;
      padding: 10px;

      img {
        width: 290px;
      }
    }
  }
}

.avatar {
  margin: 30px auto;
  border: 3px solid #1ed85f3d;
  border-radius: 50%;
  padding: 10px;
  width: 130px;

  @media (width <= 1024px) {
    width: 115px;
  }

  @media (width <= 768px) {
    width: 100px;
  }

  img {
    border-radius: 50%;
    filter: blur(2px);
  }
}

form {
  padding: 0 40px;

  @media (width <= 480px) {
    padding: 0 25px;
  }

  a {
    color: var(--color-secondary);
    text-decoration: none;
  }

  fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    padding: 0;

    label {
      color: var(--color-text);
      position: relative;

      input {
        border-radius: 18px;
        border: 2px solid transparent;
        outline: none;
        padding: 15px;
        margin-top: 10px;
        margin-bottom: 20px;
        background-color: var(--color-input);
        color: var(--color-text);
        width: 100%;
      }

      input::placeholder {
        opacity: 0.7;
      }

      input:focus {
        border: 2px solid var(--color-secondary);
      }

      .input-error {
        border: 2px solid var(--color-error);
      }

      small {
        color: var(--color-error);
        position: absolute;
        display: block;
        bottom: -6px;
        right: 0;
      }
    }

    .form-checkbox {
      margin-top: 10px;
      margin-bottom: 20px;
      display: flex;
      gap: 10px;

      input[type="checkbox"] {
        accent-color: var(--color-secondary);
        cursor: pointer;
        width: auto;
        margin: 0;
      }

      span {
        color: var(--color-text);
        font-size: 13px;
      }
    }

    button {
      font-family: RobotoNormal, var(--secure-sources);
      font-weight: bold;
      border: none;
      border-radius: 18px;
      padding: 15px;
      margin-top: 15px;
      background: var(--color-secondary);
      color: var(--color-input);
      cursor: pointer;
      transition: all 200ms ease;

      &:hover {
        filter: brightness(1.1);
        box-shadow: 0 5px 25px -3px rgb(0 255 76 / 40%);
      }
    }
  }

  .form-footer {
    text-align: center;
    color: var(--color-text);
    margin-block: 0.625rem 1.875rem;
    font-size: var(--fs-xs);
  }
}

.promo-message {
  font-size: var(--fs-md);

  h1 {
    line-height: 1.1;
    margin-bottom: 35px;

    @media (width <= 1024px) {
      display: none;
    }

    @media (width <= 1024px) {
      text-align: center;
      margin: 40px 0;
      font-size: var(--fs-xxl);
    }
  }

  p {
    @media (width <= 1024px) {
      display: none;
    }
  }

  strong {
    color: var(--color-secondary);
    font-weight: bold;
  }

  .social {
    display: flex;
    justify-content: center;
    margin-top: 40px;

    @media (width <= 1024px) {
      display: none;
    }

    img {
      width: 25px;
      margin: 10px;
    }
  }
}

dialog {
  border: none;
  border-radius: 25px;
  width: 45%;
  padding: 0;

  &::backdrop {
    background-color: rgb(0 0 0 / 60%);
    backdrop-filter: blur(3px); /* Soporte para Safari */
  }
}

.modal__panel {
  display: flex;
  padding: 0;

  .modal__illustration {
    width: 45%;
    background: url("assets/img/background-modal.jpg") no-repeat center;
    background-size: cover;
    border-radius: 25px 0 0 25px;
  }

  .modal__body {
    padding: 35px 35px 40px;
    width: 55%;
    color: var(--color-primary);

    .modal__header {
      width: 100%;

      .modal__close-btn {
        cursor: pointer;
        color: var(--color-grey);
        font-size: var(--fs-lg);
        background: transparent;
        border: none;
        width: 100%;
        display: flex;
        justify-content: end;
      }
    }

    #modal-desc {
      font-weight: bold;
    }

    time {
      color: var(--color-grey);
      font-weight: bold;
    }

    h2 {
      margin-block: 1.25rem;
    }

    .modal__subtitle {
      margin-top: 20px;
      text-align: center;
    }

    .modal__profile {
      margin: 25px 0;
      display: flex;
      align-items: center;
      padding: 15px 25px;
      border-radius: 25px;
      box-shadow: 0 5px 25px -3px rgb(0 0 0 / 10%);

      img {
        border-radius: 50%;
        border: 3px solid #1ed85f;
        padding: 5px;
        margin-right: 0;
      }

      .info {
        display: flex;
        justify-content: space-between;
        width: 75%;
        align-items: center;
        margin-left: 15px;

        .info__user {
          display: flex;
          flex-direction: column;
          justify-content: center;

          small {
            color: var(--color-grey);
          }
        }

        .info__icon {
          display: flex;

          i {
            margin-left: 10px;
            font-size: var(--fs-lg);
            cursor: pointer;
          }
        }
      }
    }

    .modal__cta {
      font-weight: bold;
      margin-top: 40px;
      text-align: right;

      a {
        color: var(--color-ternary);
        text-decoration: none;
      }
    }
  }
}
